<video
    autoplay
    loop
    muted
    playsinline
    class="fixed top-0 left-0 w-full h-screen object-cover -z-10"
>
    <source src="/bg.webm" type="video/webm" />
</video>

<div class="fixed top-0 left-0 w-full h-screen bg-black/60 -z-10"></div>
